body{
    z-index: 1;
    background-image: url(Resimler/AKINCI.jpg);
}
.ustEkran{
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 150px;
    width: 100%;
}
.medyaHesapIkonlari{
    margin-right: 10px;
    height: 50px;
}
.logo{
    height: 180px;
    border-radius: 20%;
    float: left;
}
.hesaplarEkranı{
    position: absolute;
    bottom: 0px;
    height: 200px;
}
.sayfalar{
    top: 0px;
    height: 100px;
}
.menu{
    float: left;
}
.menu li {
    padding: 16px 32px;
  
    text-align: center;
  
    font-size: 17px;
  
    margin:  30px 100px;

    opacity: 0.6;
  
    display: inline-block;
  }
  .menu li :hover{
    border-radius: 30%;
    padding: 10px;
    background-color:cornflowerblue
  }
  .menu a{
    font-size: larger;
    color: aliceblue;
    text-decoration: none;
  }

  .tanim{
      position:fixed;
      right: 100px;
      top: 200px;
      height: 700px;
      width: 500px;
     }
  .diviciresim{
      height: 200px;     
  }
  .maket{
      opacity: 0.8;
    border-radius: 10%;
      height: 100%;
      width: 100%;
      background-size: cover;
      
  }
  .diviciresim h1{
      color: aliceblue;
     position: relative;
     margin-left: 40%;
}
.diviciresim p{
    font-family: cursive;
    color: aliceblue;
    text-indent: 20px;
    font-size: 20px;
}